#pragma once

constexpr char WIFI_SSID[] = "replace-with-2.4ghz-hotspot-name";
constexpr char WIFI_PASSWORD[] = "replace-with-hotspot-password";
constexpr char BACKEND_HOST[] = "replace-with-computer-hotspot-ip";
constexpr uint16_t BACKEND_PORT = 8000;
